.egg_hatch_anim {
  -webkit-animation: hatch 1s linear infinite;
  -moz-animation: hatch 1s linear infinite;
  animation: hatch 1s linear infinite;
}
@-moz-keyframes hatch {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(45deg);
  }
  50% {
    -moz-transform: rotate(0deg);
  }
  75% {
    -moz-transform: rotate(-45deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.egg_sitting_anim {
    animation: sitting 2s linear infinite;
}
@keyframes sitting {
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
}